html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: 'Montserrat', sans-serif;
      font-weight: lighter;
	  background: linear-gradient(#d6d5c9,#FFFFFF) no-repeat fixed;

	}

header {
      width: 100%;
      height: 5vh;
	  background: linear-gradient(135deg,#2d9a59,#42959a,#23729a) no-repeat fixed;

}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 5px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 20px;
}

nav ul {
      line-height: 5px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: linear-gradient(135deg,#2d9a59,#42959a,#23729a) no-repeat fixed;
}

nav ul li {
      display: inline-block;
      padding: 16px 10px;;
}

nav ul li ul {
	top:30px;
	background: linear-gradient(135deg,#2d9a59,#42959a,#23729a) no-repeat fixed;
	text-align: left;
	position:absolute;
      	display: none;
	width:170px;
      	}

nav ul li:hover ul {
	background: linear-gradient(135deg,#2d9a59,#42959a,#23729a) no-repeat fixed;
      	display: block;
      	}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
nav ul li ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}



.menu-icon {
      line-height: 60px;
      width: 100%;
      background: linear-gradient(135deg,#2d9a59,#42959a,#23729a) no-repeat fixed;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
.left-align{
      text-align: left;
}

.custom-file-upload input[type=text]{

width:70%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
}
.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    font-size: 16px;
    margin-top: 30px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: $file-upload-size;
    color: #000;
    font-size: 16px;
    padding: 11px 17px; 
    border: none;
    background-color: $file-upload-color; 
    @include transition(all 0.2s ease-in); 
    float: left; /* IE 9 Fix */
    &:hover, &:focus { 
        background-color: darken($file-upload-color, 5);
        outline: none; 
    }
}
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 20px; 
    margin-top: 10px;
    border-radius:5px;
border:1px solid #7ac9b7;
margin-left: 1px;
width: 25%;
    background-color: darken($file-upload-color, 10); 
    float: right; /* IE 9 Fix */
    @include transition(all 0.2s ease-in);
    &:hover {
        background-color: darken($file-upload-color, 20);
    }
}

.clear{
      clear: left;
}
@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: linear-gradient(135deg,#2d9a59,#42959a,#23729a) no-repeat fixed;
      }

      nav.black ul {
            background: linear-gradient(135deg,#2d9a59,#42959a,#23729a) no-repeat fixed;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }
      .left-align{
            text-align: left;
      }

}

